.body {
    display:flex;
    background-color: black;
    height: 100vh;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    /* justify-content: center;
    justify-items: center; */
}

.lordRingsImg {
    width: 300px;
    display: inline-block;
}
.main {
    background-color: rgb(53, 52, 52);
    padding: 5px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:30px;
    color: white
}
.mainFail {
    /*color | image | repeat | attachment | position x y*/
    background: black url(../images/fire.jpg) no-repeat scroll center;
    background-origin: content-box;
    background-size: cover;
    padding: 5px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:30px;
    color: white;
}
.mainWin {
    /*color | image | repeat | attachment | position x y*/
    background: darkgoldenrod url(../images/winner.jpeg) no-repeat  center;
    background-origin: content-box;
    background-size:contain ;
    padding: 5px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:30px;
    color: white;
}
.game {
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:30px;
}
.juego {
    position: absolute;
    top:20px;
    color:white;
  /*   left: 10px; */
   text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 800;
    text-shadow: 3px 2px darkred;
}
.mainTitle {
    margin-top: 15px;
    font-size: 50px;
    text-transform: capitalize;
    font-family: 'Italianno', cursive;
    color:goldenrod;
    font-weight: 800;
}
.mainTitleWin {
    margin-top: 15px;
    font-size: 50px;
    text-transform: capitalize;
    font-family: 'Italianno', cursive;
    color:black;
    font-weight: 800;
}
.textIntro {
    font-size: 30px;
    line-height: 40px;
    font-family: 'Italianno', cursive;
    
}

.textGame {
    font-size: 25px;
    line-height: 40px;
    font-weight: 400;
    text-align: center;
   

}
.select {
    font-size: 20px;
    width: 300px;
    height: 40px;
    background-color: gray;
    color: white;
    text-align: center;
}
.btnBattle{
    font-size: 20px;
    width: 300px;
    height: 40px;
    background-color: darkred;
    color:white;
    border-radius: 10px;
    border:none;
}
.btnReset{
    font-size: 20px;
    width: 300px;
    height: 40px;
    font-weight: 600;
    background-color: white;
    color:darkred;
    border-radius: 10px;
    border:none;
}
.result {
    font-size: 35px;
    line-height: 50px;;
    /* width: 605px;
    height: 50px; */
    font-weight: 600;
    background-color:rosybrown;
    color:darkred;
    font-family: 'Italianno', cursive;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.points {
    gap: 10px;
    display:flex;
    margin-top: 20px;;
}
.form  {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}
.scoreText {
    margin-bottom: 10px;
    color:gold;
    font-weight: 600px;
}
.hide {
    display:none;
}
.ring {
    width: 70px;
    position:relative;
    top: -130px;
    animation:rotateIn;
    animation-duration: 5s;
    animation-iteration-count:1;
}
.ring2 {
    width: 70px;
    position:relative;
    top: -130px;
    animation:rotateOut;
    animation-duration: 3s;
    animation-iteration-count:1;
}
.end {
    position:relative;
    top: -130px;
    font-size: 60px;
    font-family: 'Italianno', cursive;
    color:white;
    text-shadow: 5px 5px black;
    animation:fadeIn;
    animation-duration: 5s;
    animation-iteration-count:1;
}
.transparent {
    color:transparent;
}